{# templates/registration/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<h5>Please fill in a form to Register</h5>
{{dump(form)}}
{# {{ form(form) }} #}

{% endblock %}
