/* registration form */
.registrationForm {
  background-color: rgb(237, 241, 245);
  border: 1px solid rgb(218, 214, 219);
  padding: 5%;
  width: 60%;
}
#inputField {
  padding: 2%;
}
#user_email {
  width: 100%;
}
#user_username {
  width: 100%;
}
#user_password {
  width: 100%;
}
#user_save {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s;
}

/* logged user welcome page */
.userNavbar {
  background-color: #b6c7e0;
}
/* product */
.product_details {
  padding: 5px;
  background-color: rgb(219, 190, 190);
  /* box-shadow: 2px 2px 5px 5px rgba(228, 225, 225, 0.5); */
}

/* comment form */

#comment {
  border: 1px solid black;
  padding: 20px;
}
.commentBtnForm {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  margin-top: 2px;
  width: 100%;
}
.commentForm {
  background-color: rgb(214, 218, 216);
  padding: 30px;
  bottom-margin: 1rem;
}
.comment_body {
  margin-top: 1%;
}
.comment_description {
  width: 50%;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .comment_description {
    width: 50%;
    background-color: pink;
  }
  .edit_comment_btn {
    margin-bottom: 2px;
    width: 100%;
  }
  .delete_comment_btn {
    width: 100%;
  }
}
