{# templates/login/logined.html #}
{% extends 'base.html.twig' %}

{% block body %}

{{ dump(user)}}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Your profile:</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link fw-bolder" href="{{path("product_index")}}">See Posts</a>
                    <a class="nav-link" href="/logout">Log out</a>
                </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <p>congrats, you are logined as <span class="fs-5 fw-bolder"> {{user.useridentifier}} </span></p>
            </div>
            <div class="col-6 userNavbar" ></div>
            <div class="col-3">
                 <p>your registered email is: <span class="fs-5 fw-bolder"> {{ user.email}}</span></p>
            </div>
        </div>
    </div>
     
{% endif %}    
{% endblock %}